input {
  border: 6px solid #38A3A5;
  box-sizing: border-box;
  border-radius: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #38A3A5;
  padding: 30px 40px;
}